<h1>廃版検索</h1>
<h3>一覧ページ</h3>
<%= link_to "新規投稿へ", new_tao_path %>
<div class="tweets-container">
  <% @tweets.each do |t| %>
    <div class="tweet">
      <%= t.goods %>
      <%= t.goodscoment %>
    </div>
  <% end %>
</div>